{{ define "title" }}Homepage{{ end }}

{{ define "css" }}

{{ end }}

{{ define "navbar-content" }}

<li><a href="/account">My Account</a></li>
<li><a href="/logout">Logout</a></li>

{{ end }}

{{ define "sidenav-content" }}

<li><a href="#!">Lobby</a></li>
<li><a href="#!">Groups</a></li>
<li><a href="#!">Casual Chat</a></li>

{{ end }}

{{ define "content" }}

{{ end }}

{{ define "js" }}

{{ end }}
